$primary-dark: #000000;
$primary-light: #FFFFFF;
$secondary-green-light: #4C858B;
$secondary-green-dark: #215359;
$footer-color: #0C2F33;
$secondary-red: #AE2236;
$secondary-rose: #E33E54;
$secondary-orange: #EA6628;
$secondary-grey-light: #E5E5E5;
$secondary-grey-dark: #B1B1B1;