div.photos
    div.photos__container
        h2.head-with-line Фото выполненных работ
        p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.
        div.photos__gallery
            div.arrow
                img.photos__item(src="../../assets/images/Rectangle 197.jpg" alt="first photo")
            div.arrow  
                img.photos__item(src="../../assets/images/Rectangle 197-1.jpg" alt="second photo")
            div.arrow
                img.photos__item(src="../../assets/images/Rectangle 197-2.jpg" alt="third photo")
            div.arrow    
                img.photos__item(src="../../assets/images/Rectangle 197-3.jpg" alt="fourth photo")
            div.arrow    
                img.photos__item(src="../../assets/images/Rectangle 197-4.jpg" alt="fifth photo")
            div.arrow    
                img.photos__item(src="../../assets/images/Rectangle 197-5.jpg" alt="sixth photo")
            div.arrow    
                img.photos__item(src="../../assets/images/Rectangle 197-6.jpg" alt="seventh photo")
            div.arrow    
                img.photos__item(src="../../assets/images/Rectangle 197-7.jpg" alt="eighth photo")
    