//colors text

$grey-blue: #8291A3;
$grey: #686868;
$violet: #664EF9;
$dark: #1E2123;
$red: #EB5757;

//colors icon
$yellow: #FFD54F;

//colors background

$white-bg: #FFFFFF;
$grey-bg: #F8F8F8;
$grey-light-bg: #FFFEFE;
$violet-light-bg: rgba(102, 78, 249, 0.1);
$dark-transparent: rgba(255, 255, 255, 0.1);

//colors gradient

$violet-gradient: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
$violet-light-gradient: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);

