div.steps
    div.steps__container
        h2.head-with-line Процесс выполнения монтажа
        div.list_container
            div.steps__item
                span.number 1
                span.text Рассчёт предварительной заявки
            div.steps__item
                span.number 2
                span.text Замер объекта нашим инженером
            div.steps__item
                span.number 3
                span.text Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на работы 
            div.steps__item
                span.number 4
                span.text Изготовление Дымохода, покраска (если требуется)
            div.steps__item
                span.number 5
                span.text Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
            div.steps__item
                span.number 6
                span.text Гарантийное обслуживание по соответствующем сроку