header
    div.header-container
        img.logo(src="../../assets/images/logo.png", alt="logo")
        button.burger
            svg.icon-green-light
                use(xlink:href="../../assets/images/sprite.svg#burger menu")
            
        nav
            ul
                li
                    a(href="") Каталог товаров
                li
                    a(href="") доставка и оплата
                li
                    a(href="") Цены
                li
                    a(href="") Контакты     
        a.number(href="")
            span.number_light +7 (812) 
            span.number_bold 509 21 98
        a.call(href="") перезвоните мне
        div.social
            svg.icon-green-light
                use(xlink:href="../../assets/images/sprite.svg#vk")
            svg.icon-green-light
                use(xlink:href="../../assets/images/sprite.svg#telegram")
            svg.icon-green-light
                use(xlink:href="../../assets/images/sprite.svg#instagram")
            svg.icon-green-light
                use(xlink:href="../../assets/images/sprite.svg#whatsapp")
        div.header_buttons
            button.button_search
                svg
                    use(xlink:href="../../assets/images/sprite.svg#loupe1")
            button.button_like
                svg
                    use(xlink:href="../../assets/images/sprite.svg#heart1")
            button.button_cart
                svg
                    use(xlink:href="../../assets/images/sprite.svg#shopping-cart1")
