div.pluses
    div.pluses__container
        h2.head-with-line Почему Дымоход.ру?
        p.
            В отличие от других производителей, 
            мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются 
            из качественной стали, проверенного теплоизолятора, по современной 
            технологии плазменной сварки «встык» 
        div.pluses__list
            div.pluses__item
                img(src="../../assets/images/guarantee 1.svg" aclt="first plus")
                h4 Большой гарантийный срок
                span Крепёж, стыковка элементов – 
                    span.text-rose 10 лет
                span Сквозная коррозия труб – 
                    span.text-rose 5 лет
                span Гидроизоляция – 
                    span.text-rose 3 года
            div.pluses__item
                img(src="../../assets/images/architect 1.svg" aclt="second plus")
                h4 Помощь в покупке агрегата 
                span.
                    (печи, камина, котла), 
                    а также качественной установке на объекте с последующим 
                    гарантийным сервисом
            div.pluses__item
                img(src="../../assets/images/review 1.svg" aclt="second plus")
                h4 Реальные отзывы клиентов 
                span.
                    Убедитесь в добросовестности исполнения, прочитав 
                    Отзывы клиентов в специальном разделе.

                
    