.breadcrumbs
    .breadcrumbs__container
        h1 Монтаж дымоходов
        ul.breadcrumbs-link
            li
                a(href="") Главная 
            li
                svg
                    use(xlink:href="../../assets/images/sprite.svg#right-arrow 1")
            li
                a(href="") Каталог
            li
                svg
                    use(xlink:href="../../assets/images/sprite.svg#right-arrow 1")
            li
                a(href="") Камины
            li
                svg
                    use(xlink:href="../../assets/images/sprite.svg#right-arrow 1")
            li
                a(href="") Камины облицовки 
        p  В 
            span.text-rose Дымоход.ру 
            span вам помогут как приобрести, 
            span.
                так и установить дымоход любой конфигурации. 
                В нашем монтажном отделе, состоящим из трёх бригад работают 
                квалифицированные специалисты, которые ежегодно проходят курсы повышения 
                квалификации. Все работы проводим качественно и аккуратно, в короткий 
                срок и на совесть.
